<div class="container-fluid">
  <br /><br />
  <ul class="list-unstyled multi-steps">
    <% total_sprints = @project.sprints.count %>
    <% active_sprint = @project.active_sprint.to_i %>
    <% active_sprint = total_sprints if active_sprint > total_sprints %>
    <% (1..total_sprints).each do |step| %>
      <li class="<%= 'is-completed' if step < active_sprint || (step == active_sprint && @project.status == "Finalizado") %><%= ' is-active' if step == active_sprint && @project.status != "Finalizado" %>">
        <%= step %>
      </li>
    <% end %>
    <li class="<%= 'is-completed' if active_sprint == total_sprints && @project.status == "Finalizado" %>">Finish</li>
  </ul>
  <div class="text-center">
    <% if active_sprint < total_sprints %>
      <%= button_to 'Avançar Sprint', advance_sprint_project_path(@project), method: :post, class:'submit' %>
    <% elsif active_sprint == total_sprints && @project.status != "Finalizado" && active_sprint > 2 %>
      <%= button_to 'Finalizar Projeto', finish_project_project_path(@project), method: :post, class: 'submit' %>
    <% end %>
  </div>
</div>
