<div class="container signup-container">
  <div class="d-flex justify-content-between">
    <div class="screen">
      <div class="screen__content">
        <%= image_tag("Logo2.png", alt: "Logo", class: "login__logo-img mt-5 ms-3") %>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "login" }) do |f| %>
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { class: "login__input", placeholder: "Nome" },
                        label: false %>
          </div>
          <div class="login__field ">
            <i class="login__icon fas fa-envelope"></i>
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email", class: "login__input", placeholder: "E-mail" },
                        label: false %>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "new-password", class: "login__input", placeholder: "Senha" },
                        label: false %>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password", class: "login__input", placeholder: "Confirmação de senha" },
                        label: false %>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-users"></i>
            <%= f.input :role,
                        required: true,
                        as: :select,
                        collection: [['Sócio', 'Sócio'],
                         ['Associado', 'Associado'],
                         ['Professor', 'Professor'],
                         ['TA', 'TA'], ['Dev 1', 'Dev 1'],
                         ['Dev 2', 'Dev 2'],
                         ['Convidado', 'Convidado',selected:1]],
                        input_html: { class: "login__input" },
                        label: false %>
          </div>
          <button class="button login__submit">
            <span class="button__text">Criar conta</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
          <div class="devise-links mt-4">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
      </div>
    </div>
  </div>
</div>
