<div x-data="{ navbarOpen: false }" class="bg-white shadow-md">
  <div class="container mx-auto px-4 flex items-center justify-between">
    <%= link_to "#", class: "flex items-center py-3" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "h-8" %>
    <% end %>

    <button @click="navbarOpen = !navbarOpen" class="block lg:hidden text-gray-500 focus:outline-none" type="button">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <div :class="{'block': navbarOpen, 'hidden': !navbarOpen}" class="w-full lg:flex lg:items-center lg:w-auto">
      <ul class="lg:flex lg:justify-between text-sm lg:space-x-6">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Home", "#", class: "block py-2 lg:py-0 text-gray-700 hover:text-gray-900" %>
          </li>
          <li>
            <%= link_to "Messages", "#", class: "block py-2 lg:py-0 text-gray-700 hover:text-gray-900" %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "block py-2 lg:py-0 text-gray-700 hover:text-gray-900" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "block py-2 lg:py-0 text-gray-700 hover:text-gray-900" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
