<div class="wrapper">
  <aside id="sidebar">
    <div class="toggle">
      <button id="toggle-btn" type="button">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

    <ul class="sidebar-nav">

      <%# Dashboard %>
      <li class="sidebar-item">
        <%= link_to dashboard_path, class: 'sidebar-link' do %>
          <i class="house bi bi-house-door"></i>
          <span>Dashboard</span>
        <% end %>
      </li>

      <%# Projetos e dropdown %>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#projetos" aria-expanded="false" aria-controls="projetos">
          <i class="kanban bi bi-kanban"></i>
          <span>Projetos</span>
        </a>
        <ul id="projetos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

          <%# dropdown 1 %>
          <% if @project %>
            <li class="sidebar-item dropdown-list">
                <%= link_to current_user.project_show_path(@project), class: 'sidebar-link' do %>
                  <i class="fa-regular fa-circle-dot"></i>
                  <span>Projeto atual</span>
                <% end %>
            </li>
          <% end %>

          <%# dropdown 2 %>
          <li class="sidebar-item dropdown-list">
            <%= link_to new_project_path, class: 'sidebar-link' do %>
              <i class="fa-regular fa-pen-to-square"></i>
              <span>Criar projeto</span>
              <span>[admin]</span>
            <% end %>
          </li>

          <%# dropdown 3 %>
          <li class="sidebar-item dropdown-list">
            <%= link_to projects_path, class: 'sidebar-link' do %>
              <i class="bi bi-easel3-fill"></i>
              <span>Todos os projetos</span>
            <% end %>
          </li>

          <%# dropdown 4 %>
          <li class="sidebar-item dropdown-list">
            <%= link_to myprojects_path, class: 'sidebar-link' do %>
              <i class="bi bi-easel3-fill"></i>
              <span>Meus projetos</span>
            <% end %>
            </a>
          </li>
        </ul>
      </li>

      <%# Clientes %>
      <li class="sidebar-item">
        <%= link_to clients_path, class: 'sidebar-link' do %>
          <i class="fa-solid fa-user-tie"></i>
          <span>Clientes</span>
        <% end %>
      </li>

      <%# Aulas %>
      <li class="sidebar-item">
        <%= link_to lectures_path, class: 'sidebar-link' do %>
          <i class="laptop bi bi-laptop"></i>
          <span>Aulas</span>
        <% end %>
        </a>
      </li>

      <%# Tickets e dropdown %>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#tickets" aria-expanded="false" aria-controls="tickets">
          <i class="fa-solid fa-headset"></i>
          <span>Tickets</span>
        </a>
        <ul id="tickets" class="sidebar-dropdown list-unstyled pb-1 small collapse" data-bs-parent="#sidebar">

          <%# dropdown 1 %>
          <li class="sidebar-item dropdown-list">
           <%= link_to tickets_path, class: 'sidebar-link' do %>
              <i class="fa-solid fa-ticket"></i>
              <span>Todos os tickets</span>
            <% end %>
          </li>

          <%# dropdown 2 %>
          <li class="sidebar-item dropdown-list dropdown-item">
           <%= link_to mytickets_path, class: 'sidebar-link' do %>
              <i class="fa-solid fa-ticket"></i>
              <span>Meus tickets</span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
