<div class="container">
  <h1 class="text-center">Clientes</h1>
  <div class="card_main">
    <table class="low-profile-table">
      <thead>
        <tr>
          <th class="col text-left">
          Empresa
          <%= link_to new_client_path do %>
              <i class="fa-solid fa-circle-plus"></i>
              <% end %>
          </th>
          <th class="col text-center">Categoria</th>
          <th class="col text-center">Projetos Ativos</th>
          <th class='col text-center'>Projetos Finalizados</th>
        </tr>
      </thead>

      <tbody>
      <% offset = params[:set].to_i || 0 %>
        <% @clients.limit(10).offset(offset).each do |client| %>
          <tr>
            <td>
              <%= link_to client.name.titleize, client_path(client), class: "text-decoration-none text-left"%>
            </td>
            <td class='text-center d-none d-sm-table-cell'><%= client.category %></td>
            <td class='text-center d-none d-sm-table-cell'><%=ongoing_projects_count(client)%></td>
            <td class='text-center d-none d-sm-table-cell'><%=finished_projects_count(client)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <p class="text-center mt-2"> <% if offset > 0 %>
                  <%= link_to clients_path(set: offset-10), class: "text_green" do %>
                    <i class="fa-solid fa-arrow-left"></i>
                  <% end %>
                <% end %>
                Página <%=(offset/10)+1 %>
                <% if offset+10 < @clients.count %>
                  <%= link_to clients_path(set: offset+10), class: "text_green" do %>
                    <i class="fa-solid fa-arrow-right"></i>
                  <% end %>
                <% end %>
              </p>
  </div>
</div>
