<div class="container">
  <h1>Clientes</h1>
  <div class="card_main">
    <table class="low-profile-table">
      <thead>
        <tr>
          <th class="col text-center">Empresa</th>
          <th class="col text-center">Categoria</th>
          <th class="col text-center">Projetos Ativos</th>
          <th class='col text-center'>Projetos Finalizados</th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td>
              <%= link_to client.name.titleize, client_path(client), class: "text-decoration-none"%>
            </td>
            <td class='text-center d-none d-sm-table-cell'><%= client.category %></td>
            <td class='text-center d-none d-sm-table-cell'><%=ongoing_projects_count(client)%></td>
            <td class='text-center d-none d-sm-table-cell'><%=finished_projects_count(client)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <%= link_to "Adicionar novo cliente", new_client_path, class: "btn btn-outline-primary mt-3 mb-3" %>
</div>
