<div class="container mt-">
  <div class = 'card_main'>
    <div class="main-card-header">
      <h2>
        <i class="fa-solid fa-bars-progress"></i>  <%= @client.name %>
        <% if current_user.is_admin? %>
          <%= link_to edit_client_path(@client) , class:'text-decoration-none text_green' do %>
            <i id="edit-icon-small"class="fa-solid fa-pen-to-square"></i>
            <% end %>
        <% end %>
      </h2>
    </div>


    <div class = 'client-content'>
      <div class = 'client-item client-central'>
        <p>Categoria:</p>
        <h5><%= @client.category %></h5>
      </div>

      <div class = 'client-item client-central'>
        <p>Endereço:</p>
        <h5><%= @client.address %></h5>
      </div>


      <div class = 'client-item client-central'>
        <p>Email:</p>
        <h5><%= @client.email %></h5>
      </div>

      <div class = 'client-item client-central'>
        <p>Telefone para Contato:</p>
        <h5><%= @client.cell_phone %></h5>
      </div>
    </div>

    <div class="objective-card">
        <table class="low-profile-table">
          <thead>
            <tr>
              <th class="col text-left">Projeto</th>
              <th class="col text-center">Status</th>
              <th class="col text-center">Data de Início</th>
            </tr>
          </thead>
          <tbody>
            <% @client.projects.each do |project| %>
              <tr>
                <td><%= link_to  project_path(project), class: "text-decoration-none" do %>
                      <%= project.name.titleize.truncate(24) %>
                      <% if project.is_active? %>
                        <i class="fa-regular fa-circle-check"></i>
                      <% else %>
                        <i class="fa-regular fa-circle-xmark text-danger"></i>
                      <% end %>
                  <% end %>
                </td>
                <td class="text-center align-middle">
                  <div class="d-inline-block">
                    <p class="py-1 px-3 tag-status <%= case project.status.titleize
                            when 'Pendente' then 'gray-tag'
                            when 'Iniciado' then 'medium-green-tag'
                            when 'Finalizado' then 'green-tag'
                          end %>">
                      <%= project.status.titleize %>
                    </p>
                  </div>
                </td>
                <td class='text-center'><%= project.date_start_project&.strftime("%d/%m/%y") || "---" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
      </div>
  </div>
</div>
