<div class="container">
  <h2 class="form-title mt-4 text-center">Sprints</h2>

  <div class= "small-cards-container">
    <%# 1st small-card %>
    <%= link_to new_ticket_path do %>
      <div class= "small-card">
        <p><i class="fa-regular fa-comments"></i> Tire dúvidas</p>
        <h4 style="color:#008100;"> Abrir um Ticket</h4>
        <%# <p id="small-subtitle">com um Professor ou TA</p> %>
      </div>
    <% end %>

    <%# 2nd small-card %>
    <%= link_to project_path(@project) do %>
      <div class= "small-card">
        <p><i class="fa-solid fa-mug-saucer"></i>  Projeto Atual</p>
        <h4><%= @project.name %></h4>
        <footer>detalhes</footer>
      </div>
    <% end %>

    <%# 3rd small-card %>
    <%= link_to new_project_sprint_path(@project) do %>
      <div class= "small-card">
        <p><i class="fa-regular fa-square-plus"></i> Criar uma</p>
        <h4 style="color:#008100;">Nova Sprint</h4>
      </div>
    <% end %>
  </div>
  <%# Progress bar %>
  <%= render partial: 'progress_bars/sprint_progress_steps', locals: {active_sprint: @project.active_sprint} %>

  <%  @project.sprints.order(date_start: :desc).each_with_index do |sprint, index| %>
    <div class = 'card_main'>
      <!--Div main card header-->
      <div class="main-card-header">
        <h2>
         <%= link_to sprint_path(sprint),class: 'text_dgray' do %>
          <i class="fa-regular fa-lightbulb"></i>
          Sprint #<%= @project.sprints.count - index %>
          <%= link_to edit_sprint_path(sprint) , class:'text-decoration-none text_green' do %>
          <i id="edit-icon-small"class="fa-solid fa-pen-to-square"></i>
          <% end %>
       <% if sprint.sprint_lectures.any? %>
          <%= link_to project_sprint_sprint_lectures_path(sprint.project,sprint) do %>
            <i id="edit-icon-small" class="fa-solid fa-book-open"></i>
          <% end %>
        <% end %>
        <% end %>
        </h2>
        <div class="sprint-date">
          <p><%= sprint.date_start.strftime("%d/%m/%Y") %></p> a <p><%= sprint.date_end.strftime("%d/%m/%Y") %></p>
        </div>
      </div>

      <!--Div Objetivos da Sprint-->
      <div class="objective-card">
        <h5>Objetivo</h5>
        <p><%= sprint.objective %></p>
      </div>

      <!--Div Table da Sprint-->
      <div class="table-responsive col-12 p-5">
        <table class="table">
          <thead>
            <tr class="b_g_white">
              <th class='b_g_white px-3 px-3'>
              Tarefas
              <%if sprint.date_end.strftime("%d/%m/%Y") >= Time.now%>
                  <%= link_to new_project_sprint_task_path(@project, sprint) do %>
                  <i class="fa-solid fa-circle-plus"></i>
                  <% end %>
              <%end%>
              </th>
              <th class= 'b_g_white px-3 text-right'>Responsável</th>
              <th class= 'b_g_white px-3 text-center'>Status</th>
              <th class= 'b_g_white px-3 text-center'>Pontuação</th>
              <th class= 'b_g_white px-3 text-right'></th>
            </tr>
          </thead>
          <tbody>
          <% sprint.tasks.limit(5).each do |task| %>
            <tr>
            <!--Nome Tarefa-->
              <td class ="py-4 px-3" >
                <%= link_to task_path(task) do %>
                  <%= task.name %>
                <% end %>
              </td>
            <!--Criador/Responsável pela tarefa-->
              <td class ="p-3 text-right">
                <div class="td-icons-images">
                  <span>
                    <% if task.user.photo.present?  %>
                      <%= cl_image_tag task.user.photo.key, class: "avatar-large" %>
                    <% else %>
                    <%= image_tag "not_found.jpg", class: "avatar-large" %>
                    <% end %>
                  </span>
                  <%= link_to user_path(task.user) do%>
                    <p><%= task.user.name %></p>
                  <% end %>
                </div>
              </td>

              <!--Status-->
              <td class ="py-4 px-3 text-center">
                  <p class ="tag-status <%= case task.status.titleize
                                          when 'Não Iniciada' then 'gray-tag'
                                          when 'Em Andamento' then 'light-green-tag'
                                          when 'Revisão' then 'medium-green-tag'
                                          when 'Finalizada' then 'green-tag'
                                        end %>">
                    <%= task.status.titleize %>
                  </p>
              </td>

              <!--Pontuação-->
              <td class ="py-4 px-3 text-center" ><%= task.points %></td>

              <!--Edição e Deletar-->
              <td class ="py-4 px-3 text-center" >
                <div class="td-icons-images">
                  <%= link_to edit_task_path(task) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>

                  <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer deletar esta Tarefa?"}  do %>
                  <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
