<div class = "container">
  <h1>Sprints do <%= @project.name %></h1>

  <div>
    <ul>
      <% @sprints.each do |sprint| %>
          <li>
          <%= link_to sprint_path(sprint) do %>
            <p>Sprint <%= sprint.id %></p>
          <% end %>

          <p>Data de início: <%= sprint.date_start %></p>
          <p>Data final: <%= sprint.date_end %></p>
          <p>Objetivo da sprint: <%= sprint.objective %></p>

          <%= link_to sprint_path(sprint), data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer deletar esta Sprint?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>

          <%= link_to edit_sprint_path(sprint), data: {turbo_method: :get} do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          </li>
        <% end %>
      </ul>
  </div>


  <button class = "btn"><%= link_to "Crie uma Sprint", new_project_sprint_path %></button>

</div>
