<%= simple_form_for @project do |f| %>
    <%= f.input :name, label: "Nome" %>
    <%= f.input :category, label: "Categoria" %>
    <%= f.input :description, label: "Descrição" %>
    <%= f.input :client_id,  as: :select, collection: Client.all.map { |u| [u.name, u.id] }, input_html: {class: "card_input_form"}, label: "Cliente" %>

    <%#= f.association :users, :as => :check_boxes %>

    <%#= f.association :project_members, :as => :check_boxes, collection: User.all, input_html: { class: "card_input_form" }, label: "Membro:" %>

      <%#= f.input :users.name,  as: :check_boxes, collection: User.all, input_html: { class: "card_input_form" }, label: "Membro:" %>

    <%= f.simple_fields_for :project_member do |pm| %>
      <!-- Campos do project_member (name, role, etc.) -->
        <%= pm.input :user_id,  as: :check_boxes, collection: User.all.map { |u| [u.name, u.id] }, input_html: {class: "card_input_form"}, label: "Membro:" %>

      <%#= pm.input :user.name, as: :check_boxes, collection: User.all, input_html: { class: "card_input_form" }, label: "Membro:" %>
      <%= pm.input :user_type, as: :select, collection: ProjectMember.user_types.keys.map { |type| [type.humanize, type] },input_html: {class: "card_input_form"}, label: "Função:" %>
    <% end %>

    <%= f.button :submit, class:'btn btn-primary' %>
    <%= f.button :submit %>
<% end %>


<%#= simple_form_for [@sprint.project, @sprint, @sprint_lecture] do |f| %>
  <%#= f.input :lecture,  as: :select, collection: @sprint.project.available_lectures.map { |u| [u.title, u.id] }, input_html: {class: "card_input_form"}, label: "Aula" %>
  <%# <div class='text-center'> %>
    <%#= f.button :submit,'Adcionar', class:'button_confirm' %>
  <%# </div> %>
<%# end %>


<%#= simple_form_for [@project, project_member] do |f| %>
  <%#= f.input :user.name,  as: :select, collection: User.all.map { |u| [u.name, u.id] }, input_html: {class: "card_input_form"}, label: "Membro:" %>
  <%#= f.input :user_type, as: :select, collection: ProjectMember.user_types.keys.map { |type| [type.humanize, type] },input_html: {class: "card_input_form"}, label: "Função:" %>
  <%# <div class='text-center'> %>
    <%#= f.button :submit,'Adcionar', class:'button_confirm' %>
  <%# </div> %>
<%# end %>
