<div class="container">
  <h1>Dashboard</h1>

  <div class= "small-cards-container">
    <%# 1st small-card %>
    <div class= "small-card">
      <p><i class="fa-regular fa-star"></i> Pontuação</p>
      <h3 style="color:#008100;"><%= @project.total_points_for_member(current_user) %> pontos</h3>
    </div>

    <%# 2nd small-card %>
    <div class= "small-card">
      <p><i class="fa-solid fa-mug-saucer"></i>  Projeto Atual</p>
      <h4><%= @project.name %></h4>
      <footer><%= link_to "detalhes", project_path(@project), class: "text-decoration-none" %></footer>
    </div>

    <%# 3rd small-card %>
   <%= link_to new_ticket_path do %>
      <div class= "small-card">
        <p><i class="fa-regular fa-comments"></i> Tire dúvidas</p>
        <h4 style="color:#008100;"> Abrir um Ticket</h4>
        <%# <p id="small-subtitle">com um Professor ou TA</p> %>
      </div>
    <% end %>
  </div>

  <div class = 'card_main'>
    <h2 class="px-5 mt-3"><i class="fa-regular fa-lightbulb"></i> &nbsp;&nbsp; Sprint &nbsp;&nbsp;#3</h2>
    <h2 class = "text-success px-2">|-----------|-----------|-----------|-----------|-----------|-----------|</h2>
      <div class="table-responsive col-12 p-5">
        <table class="table">
          <thead>
            <tr>
              <th class='px-3'>Tarefas</th>
              <th class= 'text-right'>Responsáveis</th>
            </tr>
          </thead>
          <tbody>
            <% @project.tasks.each do |task|%>
              <tr>
                <td class ="py-4 px-3" ><%= link_to task.name,task_path(task), class: "text-decoration-none"  %></td>
                <td class ="p-3 text-right">
                  <% if task.user.photo.present?  %>
                    <%= cl_image_tag task.user.photo.key, class: "avatar-large mx-2" %>
                  <% else %>
                    <%= image_tag "not_found.jpg", class: "avatar-large mx-2" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
