<div class="container mt-2">
  <h1>Dashboard</h1>

  <%if @project.nil? %>
    <div class="row justify-content-center my-5">
      <div class="col-8 m-5 py-5">
        <h3 class = 'text-center my-3'>Você não está alocado em nenhum Projeto Ativo no momento.</h3>
        <h5 class = 'text-center '>Vizualize seus outros <%= link_to "projetos.",myprojects_path,class: "text-decoration-none text-success" %></h5>
      </div>
    </div>
  <% else %>
    <div class= "small-cards-container">
      <%# 1st small-card %>
      <div class= "small-card">
        <p><i class="fa-regular fa-star"></i> Pontuação</p>
        <h3 style="color:#008100;"><%= @project.total_points_for_member(current_user) %> pontos</h3>
      </div>

      <%# 2nd small-card %>
      <%= link_to project_path(@project), class: "text-decoration-none" do %>
        <div class= "small-card">
          <p><i class="fa-solid fa-mug-saucer"></i>  Projeto Atual</p>
          <h4><%= @project.name %></h4>
          <footer><%= link_to "detalhes", project_path(@project), class: "text-decoration-none" %></footer>
        </div>
      <% end %>

      <%# 3rd small-card %>
    <%= link_to new_ticket_path do %>
        <div class= "small-card">
          <p><i class="fa-regular fa-comments"></i> Tire dúvidas</p>
          <h4 style="color:#008100;"> Abrir um Ticket</h4>
          <%# <p id="small-subtitle">com um Professor ou TA</p> %>
        </div>
      <% end %>
    </div>


    <div class = 'card_main'>
      <h2 class="px-5 mt-3"><i class="fa-regular fa-lightbulb"></i> &nbsp;&nbsp; Sprint &nbsp;&nbsp;#<%= @project.active_sprint %></h2>
        <div class="table-responsive col-12 p-5">
          <table class="table">
            <thead>
              <tr>
                <th class='b_g_white px-3'>Tarefas</th>
                <th class= 'b_g_white text-right'>Responsáveis</th>
              </tr>
            </thead>
            <tbody>
              <% @project.sprints[@project.active_sprint-1].tasks.each do |task|%>
                <tr>
                  <td class ="py-4 px-3" ><%= link_to task.name,task_path(task), class: "text-decoration-none"  %></td>
              <!--Criador/Responsável pela tarefa-->
                  <td class ="p-3 text-right">
                    <div class="td-icons-images">
                      <span>
                        <% if task.user.photo.present?  %>
                          <%= cl_image_tag task.user.photo.key, class: "avatar-large" %>
                        <% else %>
                        <%= image_tag "not_found.jpg", class: "avatar-large" %>
                        <% end %>
                      </span>
                      <p><%= task.user.name %></p>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
  <% end %>
</div>
