<h1 class="project-title mt-2"></i>Projeto</h1>

<%# Condicional caso não haja um projeto %>
<%if @project.nil? %>
  <div class="row justify-content-center my-5">
    <div class="col-8 m-5 py-5">
      <h3 class = 'text-center my-3'>Você não está alocado em nenhum Projeto Ativo no momento.</h3>
      <h5 class = 'text-center '>Vizualize seus outros <%= link_to "projetos.", myprojects_path, class: "text-decoration-none text-success" %></h5>
    </div>
  </div>
<% else %>

  <div class= "small-cards-container">
    <%= link_to project_sprints_path(@project) do %>
      <div class= "small-card no-margin-top">
        <p><i class="fa-solid fa-list-check fs-3"></i></p>
        <h4>Sprint atual: <span style="color:#008100;">#
          <%= @project.active_sprint %></span>
        </h4>
        <p id="small-subtitle">
          de <strong><span style="color: #008100;">
          <% if @project.sprints.present? %>
            <%= @project.sprints.last.date_start.strftime("%d/%m") %>
          <% else %>
            - <%# Condição quando não tem sprint%>
          <% end %>
          </span></strong>
          a <strong><span style="color: #008100;">
          <% if @project.sprints.present? %>
            <%= @project.sprints.last.date_end.strftime("%d/%m") %>
          <% else %>
            - <%# Condição quando não tem sprint%>
          <% end %>
          </span></strong>
        </p>
      </div>
    <% end %>
    <%= link_to lectures_path do %>
      <div class= "small-card no-margin-top">
        <p><i class="fa-solid fa-laptop-code fs-3"></i></p>
        <h4>Acessar <span style="color:#008100;">aulas</span> e materiais de apoio</h4>
      </div>
    <% end %>
    <%= link_to new_ticket_path do %>
      <div class= "small-card no-margin-top">
        <p><i class="fa-regular fa-comments fs-3"></i></p>
        <h4> Abrir um <span  style="color:#008100;">Ticket</span></h4>
        <p id="small-subtitle">com um Professor ou T.A</p>
      </div>
    <% end %>
  </div>
  <div class='card_main'>
    <div class="objective-card">
      <h5>Informações do Projeto</h5>
    </div>
    <div class="table-responsive col-12 p-5">
      <div class="row">
        <div class="col-md-6">
          <h5><%= @project.name %></h5>
          <p><%= @project.description %></p>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center mb-3">
            <i class="far fa-clock fa-2x me-3"></i>
            <div class="ml-2">
              <strong>Status</strong>
              <p style="color:#008100;"><%= @project.status %></p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <i class="far fa-calendar-alt fa-2x me-3"></i>
            <div class="ml-2">
              <strong>Data de início</strong>
              <% if @project.sprints.present? %>
                <p style="color:#008100;"><%= @project.date_start_project.strftime("%d/%m/%y") %></p>
              <% else %>
                <p style="color:#008100;">-</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= link_to client_path(@project), class: "text-decoration-none text-reset" do %>
      <div class="objective-card">
        <h5>Dados do Cliente</h5>
      </div>
    <% end %>
    <div class="table-responsive col-12 p-5">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center mb-3">
            <%= link_to client_path(@project), class: "text-decoration-none text-reset" do %>
              <% if @project.client.photo.present?  %>
                <%= cl_image_tag @project.client.photo.key, width: 100, height: 100,  radius: 5, crop: :thumb %>
              <% else %>
                <%= image_tag "not_found.jpg", width: 100, height: 100 %>
              <% end %>
            <% end %>
            <div class="mx-3">
              <p>Contratado por</p>
              <h5><%= @project.client.name %></h5>
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-building fa-2x me-3"></i>
                <p class="mt-3" style="color:#008100;"><%= @project.client.category %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center mb-3">
            <i class="fa-solid fa-location-dot fa-2x me-3"></i>
            <div class="ml-2">
              <strong>Endereço</strong>
              <p style="color:#008100;">
                <%= link_to @project.client.address,
                  "https://www.google.com/maps?q=#{ERB::Util.url_encode(@project.client.address)}",
                  target: "_blank", style: "color: #008100; text-decoration: none;" %>
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-envelope fa-2x me-3"></i>
            <div class="ml-2">
              <strong>E-mail</strong>
              <p style="color:#008100;"><%= @project.client.email %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="objective-card">
      <h5>Membros do projeto</h5>
    </div>
    <div class="table-responsive col-12 p-5">
      <div class="row">
        <div class="col-md-12">
          <% @project.project_members.each do |member| %>
            <div class="row align-items-center py-2">
              <div class="col-md-4 d-flex align-items-center">
                <img src="https://kitt.lewagon.com/placeholder/users/perrigii" <%# adicionar o caminho para a foto do membro%>
                  alt="Foto do Membro" class="me-3"
                  style="width: 50px; height: 50px; border-radius: 50%;">
                <h6 class="mb-0"><%= member.user.name %></h6>
              </div>
              <div class="col-md-4 text-md-center">
                <p class="mb-0"><%= member.user_type %></p>
              </div>
              <div class="col-md-4 text-md-end">
                <%= link_to 'ver membro', user_path(member.user), class: 'text-success' %>
              </div>
            </div>
            <hr class="my-2">
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
