<h1 class="project-title mt-2"></i>Projeto</h1>
<div class= "small-cards-container">
  <%= link_to project_sprints_path(@project) do %>
    <div class= "small-card no-margin-top">
      <p><i class="fa-solid fa-list-check fs-3"></i></p>
      <h4>Sprint atual: <span style="color:#008100;">#
        <%= @project.sprints.all.count %></span>
      </h4>
      <p id="small-subtitle">
        de <strong><span style="color: #008100;">
          <%= @project.sprints.last.date_start.strftime("%d/%m") %>
        </span></strong>
        à <strong><span style="color: #008100;">
          <%= @project.sprints.last.date_end.strftime("%d/%m") %>
        </span></strong>
      </p>
    </div>
  <% end %>
  <%= link_to lectures_path do %>
    <div class= "small-card no-margin-top">
      <p><i class="fa-solid fa-laptop-code fs-3"></i></p>
      <h4>Acessar <span style="color:#008100;">aulas</span> e materiais de apoio</h4>
    </div>
  <% end %>
  <%= link_to new_ticket_path, target: :_blank do %>
    <div class= "small-card no-margin-top">
      <p><i class="fa-regular fa-comments fs-3"></i></p>
      <h4> Abrir um <span  style="color:#008100;">Ticket</span></h4>
      <p id="small-subtitle">com um Professor ou T.A</p>
    </div>
  <% end %>
</div>

    <h2>Nome: <%= @project.name %></h2>
    <p>Category: <%= @project.category %></p>
    <p>Descrição:<%= @project.description %></p>
    <p>Está ativo?:<%= @project.is_active? %></p>


  </div>
