<div class="container">
  <h1>Sprints</h1>

  <div class= "small-cards-container">
    <%# 1st small-card %>
    <%= link_to new_ticket_path, target: :_blank do %>
      <div class= "small-card">
        <h5><i class="fa-regular fa-comments"></i> Tire dúvidas</h5>
        <h4 style="color:#008100;"> Abrir um Ticket</h4>
        <p>com um Professor ou TA</p>
      </div>
    <% end %>

    <%# 2nd small-card %>
    <%= link_to project_path(@project), target: :_blank do %>
      <div class= "small-card">
        <h5><i class="fa-solid fa-mug-saucer"></i>  Projeto Atual</h5>
        <h4><%= @project.name %></h4>
        <footer>detalhes</footer>
      </div>
    <% end %>

    <%# 3rd small-card %>
    <%= link_to new_project_sprint_path(@project), target: :_blank do %>
      <div class= "small-card">
        <h5><i class="fa-regular fa-square-plus"></i> Criar uma</h5>
        <h3 style="color:#008100;">Nova Sprint</h3>
      </div>
    <% end %>

  </div>
  <% @desc_sprints_order.each do |sprint| %>
    <div class = 'card_main'>
      <h2 class="px-5 mt-3"><i class="fa-regular fa-lightbulb"></i> Sprint #<%= sprint.id%></h2>
      <h2 class = "text-success px-2">|-----------|-----------|-----------|-----------|-----------|-----------|</h2>
        <div class="table-responsive col-12 p-5">
          <table class="table">
            <thead>
              <tr>
                <th class='px-3'>Tarefas</th>
                <th class= 'text-right'>Responsáveis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class ="py-4 px-3" >CRUD projects</td>
                <td class ="p-3 text-right">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/thony-vieira", class: "avatar-large mx-2" %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/perrigii", class: "avatar-large mx-2" %>
                </td>
              </tr>
              <tr>
                <td class ="py-4 px-3">CRUD clients</td>
                <td class ="p-3 text-right"><%= image_tag "https://kitt.lewagon.com/placeholder/users/CaioBrasetti", class: "avatar-large mx-2" %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  <% end %>
</div>
