<div class="container">
  <div class="d-flex justify-content-between">
    <div class="screen">
      <div class="screen__content">
        <%= image_tag("Logo2.png", alt: "Logo", class: "login__logo-img mt-5 ms-3") %>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login" }) do |f| %>
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "login__input", placeholder: "E-mail" },
                        label: false %>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password", class: "login__input", placeholder: "Senha" },
                        label: false %>
          </div>
          <div>
            <%= f.input :remember_me, as: :boolean, label: "Lembrar-me" if devise_mapping.rememberable? %>
          </div>
          <button class="button login__submit">
            <span class="button__text">Entrar</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
          <div class="devise-links mt-2">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
    <div class="background__logo">
      <%= image_tag("Logo1.png", alt: "Logo", class: "background__logo-img") %>
    </div>
  </div>
</div>
