<div class="col-10 card card_form mb-4">
  <% if @project_member.errors.any? %>
    <div id="error_explanation">
        <% @project_member.errors.full_messages.each do |message| %>
          <p class= "text-danger"><%= message %></p>
        <% end %>
    </div>
  <% end %>
  <% if test == 1 %>
    <h3> Adicionar Membro</h3>
    <div class="mx-4">
      <%= simple_form_for [@project, @project_member] do |f| %>
        <%= f.input :user.name,  as: :select, collection: User.all.map { |u| [u.name, u.id] }, input_html: {class: "card_input_form"}, label: "Membro:" %>
        <%= f.input :user_type,input_html: {class: "card_input_form"}, label: "Função:" %>
        <%= f.button :submit,'Adcionar', class:'button_confirm' %>
      <% end %>
    </div>
  <% else %>
    <h3> Editar Membro</h3>
    <div class="mx-4">
      <%= simple_form_for [@project, @project_member] do |f| %>
        <%= f.input :user.name,  as: :select, collection: @project.users.map { |u| [u.name, u.id] }, input_html: {class: "card_input_form"}, label: "Membro:" %>
        <%= f.input :user_type,input_html: {class: "card_input_form"}, label: "Função:" %>
        <%= f.button :submit,'Editar', class:'button_confirm' %>
      <% end %>
    </div>
  <% end %>
</div>
