<!DOCTYPE html>
<html>
  <head>
    <title>KodeBrew</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Bootstrap Icons %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= render "shared/flashes" %>

    <div class="row">
      <div class="col-sm-2">
        <%= render "shared/sidebar" %>
      </div>

      <div class="col-10">
        <nav>
          <% if breadcrumbs.any? %>
            <ul class="breadcrumbs mt-4">
              <% breadcrumbs.each do |crumb| %>
                <li>
                  <% if crumb[:url].present? %>
                    <%= link_to crumb[:name], crumb[:url] %>
                  <% else %>
                    <%= crumb[:name] %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
